:root {
    --user-font: montserrat, sans-serif;
    --user-font-2: nico, sans-serif;
    --font-size: 16px;
    --transition: all .3s;
}


@font-face {
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-family: "montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
    font-family: "montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-family: "montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/Montserrat-Black.woff2") format("woff2");
    font-family: "montserrat";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../fonts/NicoMoji-Regular.woff2") format("woff2");
    font-family: "nico";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

body {
    position: relative;
    font-family: var(--user-font);
    font-size: var(--font-size);
    font-weight: 500;
    overflow-x: hidden;
    color: #fff;
    letter-spacing: 0.01em;
}

.container {
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 64px;
    line-height: 90%;
    text-shadow: 0 0 34px rgba(255, 255, 255, 0.6);
    font-family: var(--user-font-2);
    text-transform: uppercase;
}

/* Button */
.btn {
    appearance: none;
    text-decoration: none;
    border-radius: 26px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 10px 40px rgba(0, 12, 74, 0.3));
    color: #fff;
    background: #171717;
    min-width: 325px;
    max-width: 325px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    gap: 14px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background .3s;
}

.btn svg {
    transition: var(--transition);
    transform: translateX(0);
}

.btn::after {
    content: '';
    width: 105px;
    height: 105px;
    position: absolute;
    background: linear-gradient(91.12deg, #AA3EFF -4.01%, #0054CF 99.18%);
    mix-blend-mode: normal;
    filter: blur(33px);
    transform: rotate(35.55deg);
    right: 7px;
    top: -4px;
    z-index: -1;
    transition: var(--transition);
}

.btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: linear-gradient(91.52deg, #D0E25A 0%, #5D1CE0 100%);
    transition: var(--transition);
    z-index: -2;
}

.btn:hover, .btn:focus {
    border: none;
}

.btn:hover svg, .btn:focus svg {
    transform: translateX(5px);
}

.btn:hover::before, .btn:focus::before {
    opacity: 1;
}

.btn.disabled {
    border: 1px solid #928EB3;
    filter: drop-shadow(0 10px 40px rgba(0, 12, 74, 0.3));
    background: #1C1940;
    color: #928EB3;
    pointer-events: none;
}

.btn.disabled::after {
    background: linear-gradient(91.12deg, rgba(170, 62, 255, 0.5) -4.01%, rgba(0, 84, 207, 0.5) 99.18%);
}

.btn-back {
    font-size: 16px;
    line-height: 90%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    transition: var(--transition);
}

.btn-back svg {
    transform: rotate(180deg);
    transition: var(--transition);
}

.btn-back:hover {
    color: #D0E25A;
}

.btn-back:hover svg {
    transform: rotate(180deg) translateX(5px);
}

.btn-back:hover svg path {
    fill: #D0E25A;
}
/* \Button */

/* Link */
.link {
    color: #fff;
    transition: var(--transition);
}

.link:hover, .link:focus {
    color: #D0E25A;
}
/* \Link */

/* Header */
.header {
    position: absolute;
    width: 100%;
    top: 24px;
    z-index: 100;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__main {
    width: 245px;
    height: 63px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 90%;
    text-transform: uppercase;
}

.languages {
    background: rgba(43, 43, 43, 0.4);
    border-radius: 54px;
    margin: 0 24px 0 123px;
    max-width: 95px;
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.languages__item {
    padding: 16px 18px;
}

.languages__item svg {
    width: 24px;
    height: 18px;
    pointer-events: none;
}

.languages__sub {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    background: rgba(43, 43, 43, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 0 10px 10px;
    transition: var(--transition);
    transition-delay: 0s;
}

.languages__item a, .languages__item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    font-size: 20px;
    line-height: 90%;
    text-transform: uppercase;
    text-decoration: none;
}

.languages__sub li:not(:last-child) {
    /*margin-bottom: 15px;*/
}

.languages.is-open {
    border-radius: 10px 10px 0 0;
}

.languages.is-open .languages__sub {
    opacity: 1;
    pointer-events: initial;
    transition-delay: .3s;
}

/* \Header */

/* Intro Main */
.intro {
    background: url("../images/intro_bg.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    padding-top: 90px;
    position: relative;
    overflow: hidden;
}

.intro__bg {
    position: absolute;
    width: 100%;
    height: calc(100% - 90px);
    background: url("../images/cubes_bg.png") no-repeat right bottom;
    background-size: contain;
    z-index: 1;
}

.intro > .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.intro__wrapper {
    position: relative;
    z-index: 1;
}

.intro__wrapper::before {
    content: '';
    width: 298px;
    height: 298px;
    position: absolute;
    background: rgba(63, 54, 177, 0.51);
    opacity: 0.7;
    box-shadow: inset 0 0 142px #000000;
    border-radius: 100%;
    z-index: -1;
    top: -63px;
    left: -126px;
}

.intro__title {
    font-size: 96px;
    max-width: 543px;
    margin-bottom: 24px;
}

.intro__desc {
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    max-width: 543px;
    margin-bottom: 24px;
}

.intro__desc span {
    font-weight: 700;
}

.intro .btn {
    max-width: 325px;
}

.intro__bottom {
    margin-top: 24px;
    max-width: 543px;
}

/* \Intro Main */

/* Jackpot Section */
.jackpot {
    padding: 64px 0 82px;
}

.jackpot__title {
    text-align: center;
    margin-bottom: 14px;
}

.jackpot__title img {
    width: 453px;
    height: 89px;
}

.jackpot__desc {
    color: #fafafa;
    text-align: center;
}

.jackpot__wrapper {
    max-width: 942px;
    width: 100%;
    position: relative;
    margin: 67px auto 0;
    text-align: center;
}

.jackpot__border-one {
    position: absolute;
    width: calc(100% - 7px);
    height: calc(100% - 7px);
    border: 2px solid #B29CFF;
    filter: blur(1px);
    border-radius: 10px;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jackpot__border-two {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid #7D58FF;
    filter: blur(12px);
    border-radius: 14px;
    z-index: 3;
}

.jackpot__border-three {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid #7D58FF;
    filter: blur(12px);
    border-radius: 14px;
    z-index: 2;
}
.jackpot__border-four {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #332C89 0%, #25206C 100%);
    border: 8px solid #6E4BEB;
    border-radius: 14px;
    z-index: 1;
}

.jackpot__content {
    position: relative;
    z-index: 8;
    padding: 82px 0 52px;
}

.jackpot__sum {
    font-weight: 900;
    font-size: 96px;
    line-height: 90%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-shadow: 0 0 31px rgba(255, 255, 255, 0.6);
    margin-bottom: 24px;
}

.jackpot__total {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #D0E25A;
}

.jackpot__total span {
    display: block;
    font-size: 64px;
    font-weight: 700;
}

.jackpot__timer {
    border-radius: 3px;
    overflow: hidden;
    width: 410px;
    height: 98px;
    position: absolute;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    top: -41px;
    left: 50%;
    transform: translateX(-50%);
}

.jackpot__timer::after {
    content: '';
    background: #621BEC;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

.jackpot__timer::before {
    content: '';
    background: linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 3px;
}

.jackpot__btn {
    margin: 44px auto 0;
}
/* \Jackpot Section */

/* Timer */
.countdown {
    display: flex;
    gap: 14px;
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 90%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.countdown > div {
    display: flex;
    flex-direction: column;
    min-width: 43px;
}

.countdown span:nth-child(1) {
    text-align: center;
    margin-bottom: 5px;
}

.countdown span:nth-child(2) {
    display: block;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #DEDEDE;
    line-height: 1.2;
}

.timer.big .countdown {
    font-size: 40px;
}
/* \Timer */

/* Buy Ticket */
.buy-ticket {
    text-align: right;
    padding: 42px 0 64px;
}

.buy-ticket > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-ticket__img {
    width: 645px;
    height: 469px;
}

.buy-ticket__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    max-width: 543px;
}

.buy-ticket__title {
    font-size: 96px;
    text-transform: initial;
}

.buy-ticket__desc {
    font-size: 24px;
    line-height: 110%;
}
/* \Buy Ticket */

/* Leaderboard */
.leaderboard {
    padding-bottom: 84px;
}

.leaderboard__title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 24px;
}

.leaderboard__desc {
    font-size: 14px;
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 34px;
}

.leaderboard__btn {
    margin: 34px auto 0;
}

.leaderboard-slider {
    background: linear-gradient(180deg, #332C89 0%, #25206C 100%);
    border-radius: 14px;
    padding: 44px 84px;
}

.leaderboard__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.leaderboard__item {
    display: flex;
    align-items: center;
    gap: 8px 24px;
}

.leaderboard__item:not(:last-child) {
    padding-bottom: 24px;
    border-image-slice: 30;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #967BFA 51.04%, rgba(255, 255, 255, 0) 100%);
}

.leaderboard__id {
    font-weight: 900;
    font-size: 16px;
    line-height: 90%;
    text-transform: uppercase;
    white-space: nowrap;
}

.leaderboard__id span {
    font-weight: 500;
}

.leaderboard__id p {
    color: #A289FC;
    font-weight: 400;
    font-size: 12px;
    margin-top: 4px;
}

.leaderboard__info {
    font-size: 12px;
}

.leaderboard__info p:not(:last-child) {
    margin-bottom: 4px;
}

.leaderboard__info span {
    color: #A289FC;
}

.leaderboard__bnb {
    font-size: 14px;
    line-height: 90%;
    text-transform: uppercase;
    background: #5D1CE0;
    border-radius: 4px;
    padding: 5px 14px;
    min-width: 121px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    white-space: nowrap;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 1;
}

.leaderboard-pagination {
    margin: 24px auto 0;
    text-align: center;
}

.swiper-pagination-bullet-active {
    background: #D0E25A;
}
/* \Leaderboard */

/* Tickets */
.tickets {
    padding-top: 140px;
}

.show-more-btn {
    display: none !important;
    margin: 24px auto 0 !important;
}

.tickets__intro {
    display: flex;
    justify-content: space-between;
}

.tickets__left {
    max-width: 584px;
}

.tickets__desc {
    font-size: 24px;
    line-height: 120%;
    margin-top: 14px;
}

.tickets__right {
    text-align: right;
}

.tickets__timer p {
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;
    max-width: 362px;
    margin-bottom: 14px;
}

.tickets__timer .countdown {
    justify-content: flex-end;
}

.tickets__wrapper {
    padding: 44px 81px 44px 109px;
    background: linear-gradient(180deg, rgba(51, 44, 137, 0.6) 0%, rgba(37, 32, 108, 0.6) 100%);
    border: 2px solid #6E4BEB;
    backdrop-filter: blur(12px);
    border-radius: 14px;
    margin-top: 44px;
}

.tickets__head {
    display: flex;
    justify-content: space-between;
}

.tickets__id {
    background: #5647C5;
    border-radius: 4px;
    padding: 24px;
}

.tickets__id p {
    font-size: 16px;
    line-height: 90%;
}

.tickets__id p:nth-child(1) {
    font-size: 24px;
    line-height: 90%;
    margin-bottom: 24px;
}

.tickets__id span {
    font-weight: 900;
    font-size: 24px;
    color: #A289FC;
    margin-top: 4px;
    display: block;
}

.tickets__info {
    padding-right: 24px;
    max-width: 339px;
}

.tickets__info h3 {
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    max-width: 245px;
}

.tickets__info span {
    font-weight: 900;
    font-size: 24px;
    line-height: 90%;
    display: block;
    margin-bottom: 4px;
    margin-top: 14px;
    padding-top: 14px;
    text-align: right;
    color: #A289FC;
    width: 100%;
    border-image-slice: 30;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #967BFA 51.04%, rgba(255, 255, 255, 0) 100%);
}

.tickets__info p {
    text-align: right;
    font-size: 12px;
}

.tickets__body {
    display: flex;
    flex-direction: column;
}

.improve-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 90%;
    color: #A289FC;
    transition: var(--transition);
    margin: 6px 24px 24px auto;
    display: inline-block;
}

.improve-btn:hover {
    color: #D0E25A;
}

.tickets__list {
    max-height: 434px;
    overflow-y: auto;
    padding-right: 24px;
}

.tickets__list::-webkit-scrollbar {
    width: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tickets__list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #181818;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tickets__list::-webkit-scrollbar-thumb {
    background-color: #A289FC;
    outline: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tickets__item {
    background: transparent;
    border-radius: 4px;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tickets__item:nth-child(2n + 1) {
    background: #5647C5;
}

.tickets__item-id {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.tickets__item-id span {
    font-size: 20px;
    margin: 0 14px 0 4px;
}

.tickets__status {
    padding: 2px 9px;
    border-radius: 2px;
    color: #171717;
}

.tickets__item[data-status="win"] .tickets__status {
    background-color: #D0E25A;
}

.tickets__item[data-status="loose"] .tickets__status {
    background-color: #FA5D5D;
}

.improvement-btn {
    color: #fff;
    padding: 0 24px;
    height: 34px;
    background: #171717;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #171717;
    transition: var(--transition);
}

.improvement-btn.is-active {
    background: #A289FC;
    border: 1px solid #A289FC;
    color: #171717;
}

.improvement-btn:hover {
    border: 1px solid #A289FC;
    filter: drop-shadow(0 8px 14px rgba(0, 0, 0, 0.44));
}

.improvement-btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.tickets__btn {
    margin: 24px auto 0;
}

.tickets__btn-wrap {
    position: relative;
}

input[type=range] {
    -webkit-appearance: none;
    width: 230px;
    height: 4px;
    position: relative;
    border-radius: 2px;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #5647C5;
    height: 4px;
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: none;
    -webkit-appearance: none;
    background-color: #A289FC;
    margin-top: -6.5px;
    z-index: 99;
    position: relative;
    transition: 0.5s all ease;
    cursor: pointer;
}

.value {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    top: 41%;
    color: #A289FC;
    transition: 0.5s color ease;
}

.tickets__range {
    padding: 24px 16px 13px;
    background: #2C267A;
    border: 1px solid #6E4BEB;
    box-shadow: 0 26px 33px rgba(0, 12, 74, 0.6);
    border-radius: 4px;
    position: absolute;
    right: -34px;
    top: -4px;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.tickets__range.is-active {
    height: auto;
    opacity: 1;
    pointer-events: initial;
}

.tickets__range::before, .tickets__range::after {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    line-height: 90%;
    top: 8px;
}

.tickets__range::before {
    content: '1%';
    left: 16px;
}

.tickets__range::after {
    content: '50%';
    right: 16px;
}

.range-value {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 16px;
    color: #A289FC;
    line-height: 90%;
}

.tickets__range-line {
    position: absolute;
    width: 230px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    bottom: 17px;
    z-index: 1;
    pointer-events: none;
}
/* \Tickets */

/* Referral Link */
.ref-link {
    padding: 124px 0;
}

.ref-link__btn {
    margin: 24px auto 0;
}

.ref-link__wrapper {
    max-width: 1062px;
    width: 100%;
    margin: 44px auto 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 14px 24px;
    background: linear-gradient(180deg, #332C89 0%, #25206C 100%);
    border: 2px solid #6E4BEB;
    backdrop-filter: blur(12px);
    border-radius: 14px;
}

.copy-ref-btn {
    background: #171717;
    border-radius: 4px;
    max-width: 193px;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #171717;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}

.copy-ref-btn:hover {
    border: 1px solid #A289FC;
    filter: drop-shadow(0 8px 14px rgba(0, 0, 0, 0.44));
}

.copy-ref-btn.copied {
    background: #A289FC;
    border: 1px solid #A289FC;
}

.ref-link__value {
    appearance: none;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 24px;
    letter-spacing: 0.03em;
    width: 100%;
    outline: none;
    user-select: none;
    pointer-events: none;
}

.ref-received {
    max-width: 1062px;
    width: 100%;
    margin: 0 auto;
}

.ref-received__wrapper {
    display: flex;
    gap: 24px;
}

.ref-received h4 {
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.ref-received__block {
    background: linear-gradient(180deg, #332C89 0%, #25206C 100%);
    border: 2px solid #6E4BEB;
    backdrop-filter: blur(12px);
    border-radius: 14px;
}

.ref-received__block:nth-child(1) {
    min-width: 209px;
    min-height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ref-received__block:nth-child(2) {
    width: 100%;
}

.ref-received__left {
    background: #5647C5;
    border-radius: 4px;
    font-size: 16px;
    padding: 24px;
    width: fit-content;
}

.ref-received__left span {
    font-weight: 900;
    font-size: 24px;
    color: #A289FC;
    display: block;
    margin-top: 4px;
}

.ref-received__right {
    width: 100%;
    font-size: 16px;
    text-align: right;
    padding: 44px 43px 30px;
}

.ref-received__right span {
    font-weight: 900;
    font-size: 32px;
    line-height: 90%;
    color: #A289FC;
    display: block;
    margin-bottom: 24px;
}

.ref-received__right p {
    font-size: 12px;
}
/* \Referral Link */

.faq {
    padding: 140px 0 184px;
}

.faq__list {
    max-width: 1062px;
    width: 100%;
    margin: 44px auto 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.faq__head {
    background: linear-gradient(180deg, rgba(51, 44, 137, 0.6) 0%, rgba(37, 32, 108, 0.6) 100%);
    backdrop-filter: blur(12px);
    border-radius: 14px;
    padding: 20px 24px;
    font-size: 24px;
    line-height: 90%;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    user-select: none;
    position: relative;
}

.faq__body {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-top: 0;
    padding-bottom: 0;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    will-change: max-height;
    overflow: hidden;
    transition: var(--transition);
}

.faq__item.is-open .faq__body {
    opacity: 1;
    pointer-events: initial;
    padding-top: 24px;
    padding-bottom: 10px;
}

.faq__head svg {
    transition: var(--transition);
}

.faq__item.is-open .faq__head svg {
    opacity: 0;
}

.faq__head::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7C9 6.44772 8.55228 6 8 6C7.44772 6 7 6.44772 7 7L9 7ZM7.29289 8.70711C7.68342 9.09763 8.31658 9.09763 8.70711 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928932C14.6805 0.538408 14.0474 0.538408 13.6569 0.928932L8 6.58579L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L7.29289 8.70711ZM7 7L7 8L9 8L9 7L7 7Z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    line-height: 2px;
    opacity: 0;
    transition: opacity .2s;
}

.faq__item.is-open .faq__head::after {
    opacity: 1;
    transition: opacity .7s;
}

/* Footer */

.footer > .container {
    position: relative;
    padding-bottom: 124px;
    z-index: 1;
}

.footer__title {
    font-size: 64px;
    margin-bottom: 14px;
}

.footer__desc {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.01em;
    max-width: 450px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 28px;
}

.socials__item svg {
    transition: var(--transition);
}

.socials__item:hover svg {
    transform: scale(1.08);
}

.footer__socials {
    margin-top: 54px;
}

.footer__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer__img img {
    width: 634px;
    height: 477px;
    display: block;

}
/* \Footer */

/* Adaptive */
@media (max-width: 1200px) {
    .buy-ticket__img {
        width: 450px;
        height: 317px;
    }
}

@media (max-width: 1070px) {
    .tickets__wrapper, .leaderboard-slider {
        padding: 44px;
    }

    .languages {
        margin: 0 24px;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 50px;
    }

    .faq__head, .tickets__desc {
        font-size: 20px;
    }

    .faq__body {
        font-size: 14px;
    }

    .tickets__left {
        max-width: 450px;
    }

    .tickets__timer p {
        font-size: 25px;
    }

    .countdown {
        font-size: 24px;
        gap: 8px;
    }

    .footer__img img {
        width: 500px;
        height: 376px;
    }

    .intro__title {
        font-size: 70px;
    }

    .buy-ticket__desc {
        font-size: 20px;
    }

    .leaderboard-slider {
        overflow: hidden;
    }

    .wallet-btn {
        min-width: 225px;
        max-width: 225px;
    }

    .intro__bg {
        top: -90px;
        background: url(../images/cubes-mobile_bg.png) no-repeat top right;
        background-size: contain;
    }

}


@media (max-width: 849px) {
    .logo__main {
        width: 50px;
        height: 63px;
    }
}

@media (max-width: 830px) {
    .buy-ticket__img {
        width: 350px;
        height: 247px;
    }
}

@media (max-width: 768px) {
    .btn {
        min-width: 260px;
        max-width: 260px;
        height: 40px;
        font-size: 14px;
    }

    .tickets__intro {
        flex-wrap: wrap;
        gap: 24px;
    }

    .tickets__left {
        max-width: initial;
    }

    .tickets__right {
        text-align: center;
        width: 100%;
    }

    .tickets__timer p {
        margin-left: auto;
        margin-right: auto;
    }

    .tickets__timer .countdown {
        justify-content: center;
    }

    .tickets__id p {
        font-size: 14px;
    }

    .tickets__id p:nth-child(1), .tickets__id span, .tickets__info span {
        font-size: 20px;
    }

    .tickets__wrapper {
        padding: 30px 20px;
    }

    .tickets__list {
        max-height: initial;
        padding-right: 0;
        overflow: unset;
    }

    .tickets__item:nth-child(n+6) {
        display: none;
    }

    .tickets__btn {
        display: none;
    }

    .tickets__wrapper {
        padding: 34px 9px 24px;
    }

    .show-more-btn {
        display: block !important;
    }

    .ref-link__wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .ref-link__value {
        text-align: center;
    }

    .footer__img img {
        width: 350px;
        height: 263px;
    }

    .jackpot__title img {
        width: 300px;
    }

    .timer.big .countdown {
        font-size: 35px;
    }

    .jackpot__sum {
        font-size: 70px;
    }

    .jackpot__total {
        font-size: 20px;
    }

    .jackpot__total span {
        font-size: 55px;
    }

    .buy-ticket__img{
        width: 239px;
        height: 174px;
    }

    .buy-ticket__desc {
        font-size: 18px;
    }

}

@media (max-width: 685px) {
    .header__link {
        display: none;
    }

    .header__right {
        width: 100%;
        flex-direction: row-reverse;
    }

    .languages {
        margin: 0;
    }

    .wallet-btn {
        margin: 0 auto;
    }

    .logo__main {
        width: 35px;
        height: 46px;
    }

}

@media (max-width: 576px) {
    .tickets__info {
        display: none;
    }

    .tickets__item {
        flex-direction: column;
        gap: 14px;
    }

    .tickets__id {
        width: 100%;
        margin: 0 25px 34px;
    }

    .ref-received__wrapper {
        flex-direction: column;
    }

    .ref-received__block:nth-child(1) {
        min-width: initial;
        min-height: initial;
        width: 100%;
        border-radius: 4px;
        border: none;
    }

    .ref-received__left {
        width: 100%;
        border-radius: 4px;
    }

    .ref-received__right {
        text-align: left;
        padding: 24px;
    }

    .footer__img img {
        margin: 0 auto;
        width: 209px;
        height: 157px;
    }

    .jackpot__title img {
        width: 239px;
    }

    .jackpot__desc {
        font-size: 14px;
        max-width: 325px;
        margin: 0 auto;
    }

    .timer.big .countdown {
        font-size: 30px;
    }

    .jackpot__timer {
        width: 303px;
        height: 78px;
    }

    .jackpot__sum {
        font-size: 48px;
        margin-bottom: 14px;
    }

    .jackpot__total {
        font-size: 14px;
    }

    .jackpot__total span {
        font-size: 32px;
    }

    .jackpot__content {
        padding: 63px 0 34px;
    }

    .buy-ticket {
        padding: 0 0 64px;
    }

    .buy-ticket > .container {
        flex-direction: column-reverse;
        gap: 34px;
    }

    .buy-ticket__content {
        width: 100%;
        justify-content: flex-end;
    }

    .leaderboard-slider {
        padding: 44px 24px;
    }

    .leaderboard__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .leaderboard__bnb {
        margin-left: 0;
    }

    .leaderboard__id {
        font-size: 20px;
    }

    .leaderboard__btn {
        margin: 24px auto 0;
    }

    .leaderboard {
        padding-bottom: 64px;
    }

    .wallet-btn {
        min-width: 190px;
        max-width: 190px;
    }

    .intro__wrapper::before {
        display: none;
    }

    .intro {
        height: initial;
        min-height: initial;
        padding: 357px 0 34px;
    }

    .title.intro__title {
        font-size: 48px;
        max-width: 325px;
    }

    .intro__desc {
        font-size: 24px;
    }

    .intro__wrapper .btn {
        height: 52px;
    }

}

@media (max-width: 480px) {
    .title {
        font-size: 32px;
    }

    .faq__list {
        margin-top: 14px;
    }

    .faq {
        padding: 104px 0 64px;
    }

    .faq__head {
        padding: 17px 14px;
        border-radius: 4px;
        font-size: 14px;
    }

    .footer > .container {
        padding-bottom: 69px;
    }

    .footer__desc {
        font-size: 14px;
        max-width: 240px;
    }

    .footer__socials {
        margin-top: 29px;
    }

    .socials__item svg {
        max-width: 36px;
        height: 100%;
    }

    .btn-back, .tickets__desc {
        font-size: 14px;
    }

    .mh {
        display: none;
    }

    .tickets {
        padding-top: 104px;
    }

    .tickets__timer p {
        font-size: 20px;
        max-width: 230px;
    }

    .ref-link {
        padding: 64px 0;
    }

    .ref-link__value {
        font-size: 16px;
    }

    .ref-link__wrapper {
        padding: 24px;
        margin: 24px 0;
    }

    .ref-received__left {
        padding: 14px 24px;
    }

    .ref-received__right {
        font-size: 14px;
    }

    .ref-received__right span {
        font-size: 24px;
        margin-bottom: 14px;
    }

    .ref-received__right p {
        font-size: 10px;
    }

    .footer__img {
        height: 88px;
        position: relative;
    }

    .jackpot {
        padding: 34px 0 64px;
    }

    .btn {
        max-width: 325px;
        min-width: 325px;
        height: 52px;
    }

    .btn.wallet-btn {
        min-width: 153px;
        max-width: 153px;
        width: 153px;
        height: 24px;
        font-size: 10px;
    }

    .languages__item span {
        display: none;
    }

    .languages__item {
        padding: 0;
    }

    .languages__sub {
        margin: 3px 0 0;
        padding: 3px 0 0;
        background: transparent;
    }

    .languages__sub li:not(:last-child) {
        padding: 5px 0 8px;
    }

    .languages__item svg {
        width: 36px;
        height: 27px;
    }

    .leaderboard-slider {
        width: calc(100% + 15px);
        border-radius: 14px 0 0 14px;
    }
}

@media (max-width: 350px) {
    .btn {
        max-width: initial;
        min-width: initial;
        width: 100%;
    }

    .intro__desc {
        font-size: 20px;
    }

    .jackpot__timer {
        width: 270px;
    }

    .jackpot__sum {
        font-size: 39px;
    }
}
/* \Adaptive */
